.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #999;
    margin: 0px auto;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #999;
    color: #444;
    background-color: #F7FDFA;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #999;
    color: #fff;
    background-color: #26ADE4;
}
.tg .tg-yw4l {
    vertical-align: top
}
th.tg-sort-header::-moz-selection {
    background: transparent;
}
th.tg-sort-header::selection {
    background: transparent;
}
th.tg-sort-header {
    cursor: pointer;
}
table th.tg-sort-header:after {
    content: '';
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #404040 transparent;
    visibility: hidden;
}
table th.tg-sort-header:hover:after {
    visibility: visible;
}
table th.tg-sort-desc:after,
table th.tg-sort-asc:after,
table th.tg-sort-asc:hover:after {
    visibility: visible;
    opacity: 0.4;
}
table th.tg-sort-desc:after {
    border-bottom: none;
    border-width: 4px 4px 0;
}
@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    #bdlogbody {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        margin: auto 0px;
    }
}
