.CodeMirror {
    display: all;
    height: 400px;
}
#connecting { height:10px;background:red; }
#connecting * { display:none; }
.channels-wrap { width:15%; }
.callout-backdrop {
   	background-color:transparent !important;
}
.callout-backdrop img {
   	background-color:black !important;
}
.modal[data-reactid=".0.5.$=1$modal"]{
    padding:0;
    background-color:black !important;
}
.modal-image{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.image{
    width:auto;
    height:auto;
    max-width:100%;
    max-height100%;
}
li[data-reactid=".0.1.1.0.0.0.1.$=1$133218815222874112"],li[data-reactid=".0.1.1.0.0.0.1.$=1$133220611790077952"] {
	display:none;
}
